li {
  margin-right: 1em;
  overflow-wrap: break-word;
  min-width: 0;
}
ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
li:hover {
  text-decoration: line-through;
  text-decoration-color: black;
}
